
.readMore{
    display: flex;
    flex-direction: column;
    background-color: #BEBEBE;
}

.read__more > .button__part{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #505050;
    width: fit-content;
    margin-left:280px;
    margin-bottom: 10px;
}

.readMore > .button__part > button:not(:first-child){
  margin: 0 10px;
}

.readMore > .button__part > button:first-child{
  margin-left: 100px;
}

.readMore > .border{
  background-color: grey;
  height: 10px;
  border-radius: 5px;
  margin: 0 90px;
}

                    /* image part */

.readMore > .middle__part{
  display: flex;
  flex-direction: column;
  margin: 100px 150px;
}

.readMore > .middle__part > .middle__part__first{
  display: flex;
  margin-bottom: 50px;
}

.readMore > .middle__part > .middle__part__first > .middle__part__firstLeft{
  padding: 30px;
  flex: 1
}

.readMore > .middle__part > .middle__part__first > .middle__part__firstLeft > h3{
  font-weight: 900;
  opacity: 0.6;
  margin-bottom: 40px;
}

.readMore > .middle__part > .middle__part__first > .middle__part__firstLeft > p{
  font-weight: 800;
  opacity: 0.7;
  margin: 10px 0;
  font-family: 'Anton', sans-serif;
  font-family: 'Bangers', cursive;
}

.readMore > .middle__part > .middle__part__first > img{
  height: 260px;
  width: 460px;
  margin-left: 150px;
}

.readMore > .middle__part > .middle__part__second > p{
  margin: 13px 0;
  font-weight: 700;
  line-height: 1.2rem;
  opacity: 0.8;
}

.readMore > .footer{
  margin: 10px 90px;
}